<% include ./partials/header %>
<div class="ui main text container">
         <div class="ui huge header" id="index">Welcome Page</div>
         <div class="ui top attached segment">
             <div class="ui divided items">
                    <% blogs.forEach(function(blog){ %>
                        <div class="item" >

                            <div class="content">
                                <a class="header" >Name : <%= blog.name %></a>
                                <div class="meta">
                                        <span><%= blog.created.toDateString() %></span>
                                </div>
                                <div class="meta">
                                <span><%= blog.created.toLocaleTimeString() %></span>
                                </div>
                                <div> 
                                       <p> D.O.B : <%=  moment(blog.bday).format( 'MMM-DD-YYYY')  %></p>
                                </div>
                                <div> 
                                        <p> Email : <%= blog.email %></p>
                                 </div>
                                 <div> 
                                        <p> Gender : <%= blog.gender %></p>
                                 </div>
                                
                            </div>
                           
                        </div>
                    
                    <% }) %>
             </div>
         </div>
</div>


<% include ./partials/footer %>
